.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgba(60, 130, 143, 0.863);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.Recuadro{
  min-width: 40vw;
  min-height: 45vh;
  background-color: #cfcccca1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5vmin;
}

.Imagen{
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  min-width: 15vw;
}

.Separador{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5vmin;
  font-size: calc(5px + 2vmin);
}

.Separao, .Lista{
  margin-top: 50px;
}

.Texto{
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 11vmin;
  font-size: calc(8px + 2vmin);
  min-width: 40vw;
  min-height: 45vh;
  display: flex;
  justify-content: space-around;
}

.Form{
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 22vw;
  font-size: calc(5px + 2vmin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Compra{
  text-align: center;
  flex-direction: column;
  min-height: 60vmin;
  margin-top: 5vmin;
  font-size: calc(5px + 2vmin);
  min-width: 40vw;
  min-height: 45vh;
  background-color: #cfcccca1;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Boton{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}